* {
  margin: 0px;
  box-sizing: border-box;
}

div {
  padding: 5px;
  border: 1px solid yellow;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div.column {
  float: left;
  height: 500px;
}
div.side {
  width: 15%;
}
div.main {
  width: 70%;
}
div.footer {
  clear: both;
}
img {
  height: 80%;
  width: 40%;
}
